td.e {border: 1px solid black; padding: 10px; background-color: #ccc; vertical-align: top; width: 200px; }
td.h {border: 1px solid black; padding: 10px;}
td.v {border: 1px solid black; padding: 10px; background-color: #fff;}
tr.h th {text-align: left;}

